{% block section %}
	<footer>
		<div class="footer_socials_wrapper">
			<a href=""><img class="header_logo" src="{{asset('images/logo_transparent.png')}}" alt=""></a>
			<div class="footer_socials_icons">
				<img src="{{asset('images/instagram.png')}}" alt="">
				<img src="{{asset('images/pinterest.png')}}" alt="">
				<img src="{{asset('images/twitter.png')}}" alt="">
				<img src="{{asset('images/facebook.png')}}" alt="">
			</div>
		</div>
		<div class="footer_socials_first">
			<h3>A propos du boncoin</h3>
			<a href="">Qui sommes nous?</a>
			<a href="">Nous rejoindre</a>
			<a href="">Nos engagements</a>
		</div>
		<div class="footer_socials_second">
			<h3>Informations légales</h3>
			<a href="" >Conditions générales</a>
			<a href="">Référencement</a>
			<a href="">Vie privée & cookie</a>
		</div>
		<div class="footer_socials_third">
			<h3>Nos solutions pro</h3>
			<a href="">Publicité</a>
			<a href="">Annuaire</a>
			<a href="">Professionnels</a>
		</div>
		<div class="footer_socials_fourth">
			<h3>Des questions ?</h3>
			<a href="">Aide</a>
			<a href="">Le service de réservation</a>
			<a href="">Votre dossier de location</a>
		</div>
	</footer>
{% endblock %}
