{% extends 'base.html.twig' %}

{% block content %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <div class="form_articleadd_wrapper">
        <form method="post">
            <h3>Ajouter un article</h3>
            <input class="form-control" type="text" name="title" placeholder="Titre">
            <input class="form-control" type="number" name="price" placeholder="Prix">
            <input class="form-control" type="text" name="description" placeholder="Description">
            <input class="form-control" type="file" name="pictures" placeholder="Photos">
            <select name="tagName" id="pet-select">
                <option value="">--Please choose a tag--</option>
                {% for tag in tags %}
                <option id="{{ tag.id }}" value="{{ tag.id }}">{{ tag.name }}</option>
                    {{ tag.name }}
                {% endfor %}
            </select>
            <input type="hidden" name="csrf" value="{{ csrf_token('addArtiicle_form') }}">
            <input class="secondary_cta" type="submit" name="Login" placeholder="Ajouter l'article">
        </form>

    </div>

{% endblock %}