{% extends 'base.html.twig' %}

{% block title %}{{ 'dddddddddd' }}{% endblock %}

{% block content %}
    {{ form_start(articleForm) }}
    {{ form_widget(articleForm) }}

    <select name="pets" id="pet-select">
        <option value="">--Please choose an tag--</option>
    {% for tag in tags %}
        <option name="idTagidTag" value="{{ tag.id }}">{{ tag.name }}</option>
    {% endfor %}
    </select>
    {{ form_end(articleForm) }}
{% endblock %}
