{% extends 'base.html.twig' %}

{% block title %}Homepage
{% endblock %}

{% block body %}

	{{ include('header/header.html.twig') }}
	{{ include('navbar/navbar.html.twig') }}
        {{ include('hero/hero.html.twig') }}
        {{ include('section_populaire/section_populaire.html.twig') }}
        {% for message in app.flashes('success login') %}
        <div class="alert alert-success">
                {{ message }}
        </div>
        {% endfor %}
{% endblock %}
